<.live_component
  module={DevyatkiWeb.TopBarComponent}
  id="topbar"
/>
<section class="devyatki">
  <header class="header">
    <.live_component
    module={DevyatkiWeb.PostListComponent}
    id="post-list"
    />
  </header>
</section>
